@mixin flex($align, $justify) {
    display: -webkit-flex;
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin trimColumn {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}