@import '~@angular/material/theming';
@include mat-core();

$my-custom-primary-color: (
  50 : #e9f3fc,
    100 : #c8e1f8,
    200 : #a4cdf4,
    300 : #80b9ef,
    400 : #64aaeb,
    500 : #499be8,
    600 : #4293e5,
    700 : #3989e2,
    800 : #317fde,
    900 : #216dd8,
    A100 : #ffffff,
    A200 : #deebff,
    A400 : #abcbff,
    A700 : #91bcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-custom-accent-color: (
  50 : #f1f2f2,
    100 : #dcdedf,
    200 : #c5c8ca,
    300 : #adb2b5,
    400 : #9ca2a5,
    500 : #8a9195,
    600 : #82898d,
    700 : #777e82,
    800 : #6d7478,
    900 : #5a6267,
    A100 : #d8eefd,
    A200 : #a8daf9,
    A400 : #6fc8ff,
    A700 : #56beff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-custom-warn-color: (
  50 : #fae6e5,
    100 : #f4c1be,
    200 : #ec9892,
    300 : #e46e66,
    400 : #df4f46,
    500 : #d93025,
    600 : #d52b21,
    700 : #cf241b,
    800 : #ca1e16,
    900 : #c0130d,
    A100 : #ffeeed,
    A200 : #ffbcba,
    A400 : #ff8a87,
    A700 : #ff716e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$my-app-primary: mat-palette($my-custom-primary-color);
$my-app-accent:  mat-palette($my-custom-accent-color, 500, 900, A100);
$my-app-warn:    mat-palette($my-custom-warn-color);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
