@import '../styles/mixins.scss';

.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: sans-serif;

    app-header{
        position: sticky;
        top:0;
        padding: 15px;
        background-color: deepskyblue;
        color: #ffffff;
    }
    app-footer{
        margin-top: auto;
        background-color: #8A9195;
        color:#ffffff;
        padding: 10px;
    }
    // Loader css
    .loader {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        .spinner {
          margin: 100px auto 0;
          width: 70px;
          text-align: center;
        }
      }
      
      .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #ffffff;
      
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      }
      
      .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      
      .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
      
      @-webkit-keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
          -webkit-transform: scale(0);
        }
        40% {
          -webkit-transform: scale(1);
        }
      }
      
      @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        40% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      
      // End of Loader
}